.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;

  &__content {
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
    max-width: 320px;

    @media (min-width: 768px) {
      max-width: 520px;
    }
  }
}
